h1, h2{
    font-family: 'Oswald',Times;
    color: darkblue;
}
body{
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
    font-family: 'Open Sans';
}
img{
    float:left;
    margin: 10px;
}

