body{
    width: 800px;
    margin: 0 auto;
}

img{
    width: 200px;
    height: 200px;
}

h1,h2{
    text-align: center;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div{
    border: 5px solid black;
    display: flex;
}