/* General */  
body{
    width: 800px;
    margin: 0 auto;
    border: 5px solid black;
    display: inline-block;
}

/* Styling the products */
img{
    width: 200px;
    height: 200px;
}

/* Typography */  
h1,h2{
    text-align: center;
}

/*  Form styling */
main{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url(./phone-globe.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/* block styling */
div{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
}

.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
